---
import Title from "../components/Title.astro";
import MainLayout from "../layouts/MainLayout.astro";
---
<MainLayout title="About Title" >
  <Title title="about"></Title>
</MainLayout>

<style is:inline>
  h1 {
    color: red
  }
</style>