---
import MainLayout from "../layouts/MainLayout.astro";
import PokeCard from "../components/pokemons/PokeCard.astro";
import type { PokeListResponse } from "../interfaces/pokemon.interfaces";
import Title from "@components/shared/Title.astro";

const title = "poke";
const name = "Asbel jhonatan apaza romero";

const resp = await fetch("https://pokeapi.co/api/v2/pokemon");
const data = (await resp.json()) as PokeListResponse;
if (resp) {
}
---

<MainLayout title={title}>
  <Title>Listado</Title>

  <section class="grid grid-cols-1 sm:grid-cols-4 md:grid-cols-5 gap-4 mt-2">
    {
      data.results.map((poke) => {
        return <PokeCard {...poke} />;
      })
    }
  </section>
</MainLayout>
